# ===============================
# Backend API
# ===============================
fastapi
uvicorn

# ===============================
# Computer Vision & YOLOv8
# ===============================
ultralytics
opencv-python
numpy

# ===============================
# Database
# ===============================
mysql-connector-python

# ===============================
# Utilities
# ===============================
python-dotenv
requests
